<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tier List{% endblock %}</title>

    <!-- CropperJS v2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js"></script>

    {{ encore_entry_link_tags('app') }}
</head>

<body class="bg-gray-50">

    {% block body %}{% endblock %}

    {# Scripts compilés par Webpack Encore #}
    {{ encore_entry_script_tags('app') }}

</body>
</html>
